<!DOCTYPE html>
<html>
	<head>
		<title>Train vs Ninja</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
	</head>
	<body>
		<div class="navbar navbar-inverted">
			<h1>NINJA SPLAT</h1>
		</div>
		<div class="container-fluid">
			<div class="ninja">
				<img src="penguin_ninja.png" alt="pengiunNinja" />
			</div>
            <div class="col-xs-12">
				<form action="/go" method="get">
					<input type="submit" class="btn btn-danger col-xs-6" value="I'm ready for the train!">
		        </form>
            </div>

		</div>

		<footer class="footer">
      		<div class="container">
        		<form class="" action="index.html" method="get">

        		</form>
						<%counter.forEach(function(name) { %>
							<p><%=name.name%></p>
							<p><%=name.survived%></p>
							<p><%=name.died%></p>
						<% }); %>
      		</div>
    	</footer>

		<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	</body>
</html>
