h1 {
	font-family: 'Bangers', cursive;
}

.btn {
	margin-left: 50%;
	margin-right: 50%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

#delay1 {
  position: relative;
  transition-property: font-size;
  transition-duration: 4s;
  transition-delay: 2s;
  font-size: 14px;
}

.pengImg {
	height: 250px;
	width: 250px;
}

.train {
	background-image: url();
}
